.building {
  .sider-title {
    color: #fff;
    font-size: 24px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
  }
  .site-layout {
    .layout-header {
      background: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header-title {
        color: #868d96;
        font-size: 20px;
        font-weight: bold;
      }
    }
    .layout-content {
      display: flex;
      flex-direction: column;

      .button-add {
        float: right;
        margin: 10px;
        font-size: 15px;
      }
    }

    .icon {
      font-size: 20px;
      color: #46a6ff;
      margin: 0 5px;
    }
  }
}
.card {
  border: 1px solid #c0c0c0;
  border-radius: 10px;
}
