.building {
  .sider-title {
    color: #fff;
    font-size: 24px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
  }
  .site-layout {
    .ant-layout-header {
      padding: 0 10px;
    }
    .layout-header {
      background: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .layout-content {
      display: flex;
      flex-direction: column;
      margin: 10px 16px;
      .button-add {
        float: right;
        margin: 10px;
        font-size: 15px;
      }
      // .ant-breadcrumb {
      //   padding: 0 30px;
      // }
    }

    .icon {
      font-size: 20px;
      color: #46a6ff;
      margin: 0 5px;
    }
    .icon-delete {
      color: red;
    }
  }
}
.card {
  border: 1px solid #c0c0c0;
  border-radius: 10px;
}
.card-left {
  width: 100%;
}
.card-asset {
  margin-top: 10px;
}
.dynamic-delete-button {
  position: relative;
  top: 4px;
  margin: 0 8px;
  color: red;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s;
}

.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
.ant-form-item {
  margin: 0 0 5px;
}
