.invoice {
  .sider-title {
    color: #fff;
    font-size: 24px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
  }
  .site-layout {
    .layout-header {
      background: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header-title {
        color: #868d96;
        font-size: 20px;
        font-weight: bold;
      }
    }
    .layout-content {
      display: flex;
      flex-direction: column;
      margin: 10px 16px;
      .button-add {
        float: right;
        margin: 10px;
        font-size: 15px;
      }
    }
  }
}
.description {
  font-size: 14px;
}
.card {
  border: 1px solid #c0c0c0;
  border-radius: 10px;
}
.card-left {
  width: 100%;
}
.card-price {
  background-color: #eef6e4;
  margin-bottom: 10px;
}
.card-service {
  margin-top: 10px;
}
.ant-form .radio-add {
  font-size: 16px;
}
.total_price {
  color: red;
  font-weight: bold;
  font-size: 18px;
  margin-top: -10px;
  margin-left: -50px;
}
.btn-add-invoice {
  margin-top: 20px;
}
