.invoice {
  .sider-title {
    color: #fff;
    font-size: 24px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
  }
  .site-layout {
    .ant-layout-header {
      padding: 0 10px;
    }
    .layout-header {
      background: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header-title {
        color: #868d96;
        font-size: 20px;
        font-weight: bold;
      }
    }
    .layout-content {
      display: flex;
      flex-direction: column;
      margin: 10px 16px;
      .button-add {
        float: right;
        margin: 10px;
        font-size: 15px;
      }
    }
    .ant-breadcrumb {
      padding: 0 30px;
    }
  }
}
.description {
  font-size: 14px;
}
.card {
  border: 1px solid #c0c0c0;
  border-radius: 10px;
}
.card-left {
  width: 100%;
}
.card-price {
  background-color: #eef6e4;
  margin-bottom: 10px;
}

.total_price {
  color: red;
  font-weight: bold;
  font-size: 18px;
  margin-top: -10px;
  margin-left: -50px;
}
.btn-add-invoice {
  margin-top: 20px;
}
.auto-description {
  font-size: 16px;
}
.invoice-statistic {
  font-size: 15px;
  font-weight: bold;
  color: #000;
}
.show-more {
  color: cornflowerblue;
  font-style: italic;
  cursor: pointer;
}
.alert {
  font-style: italic;
  font-weight: bold;
}
.alert-red {
  font-weight: bold;
  font-size: 18px;
  color: red;
}
.add-auto-filter {
  width: 250px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 767.99px) {
  .ant-layout {
    overflow: x;
  }
}
