.room {
    .sider-title {
      color: #fff;
      font-size: 24px;
      padding: 10px;
      text-align: center;
      font-weight: bold;
    }
    .site-layout {
      .layout-header {
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        .header-title {
          color: #868d96;
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
    .manipulate-table{
      width: 100%;
    }
  }
  .card-w100-h100{
    height: 100%;
    width: 100%;
    border: 1px solid #C0C0C0;
    border-radius: 10px;
  }
  .margin-bottom-5{
    margin-bottom: 5%;
  }
  .text-card{
    word-break: break-all;
    height: auto;
    white-space: normal;
  }
  