.service {
    .sider-title {
      color: #fff;
      font-size: 24px;
      padding: 10px;
      text-align: center;
      font-weight: bold;
    }
    .site-layout {
      .layout-header {
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        .header-title {
          color: #868d96;
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
  }
  